body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.product-info{
  background-color: black;
  opacity: 0.5;
  min-width: 223px;
}
.product-image{
  min-width: 223px;
}
.product-div{
  min-width: 223px;
}
.card-img{
  height: 150px;
  width: auto;
}